In [7]:
import os
results_file = os.path.join(os.getcwd(), '..', 'results.csv').replace('\\','/')

In [4]:
results_file

'E:/SleepWell/ASSC/codes/../results.csv'

In [8]:
import pandas as pd
df = pd.read_csv(results_file)

In [9]:
df

Empty DataFrame
Columns: [training loss	testing loss	dropout]
Index: []

In [3]:
import pandas as pd
#df = pd.read_csv(results_file)
df1 = pd.read_csv("E:/SleepWell/ASSC/logs/allDataChannel1_2019-01-05 16-07-24.086160/training.csv")
#max_idx = df1['val_loss'].idxmax()
#     new_entry = {'Filename': log_name, 'Weight Initialization': 'he_normal',
#                  'Activation': activation_function + '-softmax', 'Class weights': addweights,
#                  'Kernel Size': kernel_size, 'Max Norm': maxnorm,
#                  'Dropout -filters': dropout_rate,
#                  'Dropout - dense': dropout_rate_dense,
#                  'L2 - filters': l2_reg, 'L2- dense': l2_reg_dense,
#                  'Batch Size': batch_size, 'Optimizer': 'Adam', 'Learning Rate': lr,
#                  'BN momentum': bn_momentum, 'Lr decay': lr_decay,
#                  'Best Val Acc Per Cardiac Cycle':
#                      df1.loc[max_idx]['val_acc'] * 100,
#                  'Epoch': df1.loc[[max_idx]]['epoch'].values[0],
#                  'Training Acc per cardiac cycle': df1.loc[max_idx]['acc'] * 100,
#                  'Specificity': df1.loc[max_idx]['val_specificity'] * 100,
#                  'Macc': df1.loc[max_idx]['val_macc'] * 100,
#                  'Precision': df1.loc[max_idx]['val_precision'] * 100,
#                  'Sensitivity': df1.loc[max_idx]['val_sensitivity'] * 100,
#                  'Number of filters': str(num_filt),
#                  'F1': df1.loc[max_idx]['val_F1'] * 100,
#                  'Number of Dense Neurons': num_dense,
#                  'Comment': comment}\
new_entry = {'fdsf':"ajsdhfga", 'adhjsgf':1837}
index, _ = df1.shape
new_entry = pd.DataFrame(new_entry, index=[index])
df2 = pd.concat([df1, new_entry], axis=0)
    # df2 = df2.reindex(df.columns)
#df2.to_csv(results_file, index=False)
#df2.tail()
#print("Saving to results.csv")

C:\Users\User\Anaconda3\envs\thesis\lib\site-packages\ipykernel_launcher.py:28: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [16]:
print(max_idx)

0

In [19]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("E:/SleepWell/ASSC/logs/allDataChannel1_2019-01-05 15-58-12.139755/training.csv")
print(df1.val_acc)
np.max(df1.val_acc)

0    0.812187
1    0.540000
Name: val_acc, dtype: float64

0.8121870940000001

In [58]:
new_entry = {'fdsf':"ajsdhfga", 'adhjsgf':1837}

In [49]:
new_entry.append{'fdsf':"ajsdhfga", 'adhjsgf':1837}

SyntaxError: invalid syntax (<ipython-input-49-41018b7faf1d>, line 1)

In [59]:
new_entry.update({'val_loss': 4})

In [61]:
new_entry

{'adhjsgf': 1837, 'fdsf': 'ajsdhfga', 'val_loss': 4}

In [22]:
df1 = df1.sort_values('val_acc')

In [23]:
df1

   epoch      acc      loss        lr   val_acc  val_loss
1      1  0.54000  0.540000  0.540000  0.540000   0.54000
0      0  0.79169  0.577517  0.000691  0.812187   0.55109

In [52]:
a= df1.head(1)

In [53]:
a

   epoch   acc  loss    lr  val_acc  val_loss
1      1  0.54  0.54  0.54     0.54      0.54

In [54]:
b=a.to_dict()

In [55]:
b

{'acc': {1: 0.54},
 'epoch': {1: 1},
 'loss': {1: 0.54},
 'lr': {1: 0.54},
 'val_acc': {1: 0.54},
 'val_loss': {1: 0.54}}

In [56]:
qew_entry=new_entry.update(b)

In [57]:
print(new_entry)

None

In [67]:
c={**new_entry,**b}

In [68]:
c

{'acc': {1: 0.54},
 'adhjsgf': 1837,
 'epoch': {1: 1},
 'fdsf': 'ajsdhfga',
 'loss': {1: 0.54},
 'lr': {1: 0.54},
 'val_acc': {1: 0.54},
 'val_loss': {1: 0.54}}